{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>GitKraken</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ab, obcaecati, aliquid quam quis harum corrupti cupiditate deleniti, animi amet libero excepturi eligendi sit nam! Voluptatum quis quasi consectetur consequatur.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/gitkraken.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}